.images {
  margin-left: 30%;
}
.admn {
  text-align: center;
  margin-top: 3%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 65px;
  text-decoration: underline;
  color: rgb(18, 95, 146);
}
